<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FRINGE_SECRET_SIGNING_KEY</key>
	<string>$(FRINGE_SECRET_SIGNING_KEY)</string>
	<key>FRINGE_API_KEY</key>
	<string>$(FRINGE_API_KEY)</string>
</dict>
</plist>
